In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [59]:
df = pd.read_csv("odev_tenis.csv")

In [60]:
df.head()

    outlook  temperature  humidity  windy play
0     sunny           85        85  False   no
1     sunny           80        90   True   no
2  overcast           83        86  False  yes
3     rainy           70        96  False  yes
4     rainy           68        80  False  yes

In [61]:
df.windy = df.windy.astype("str")

In [62]:
df.windy.replace({"True":1, "False":0},inplace=True)

In [63]:
df.dtypes

outlook        object
temperature     int64
humidity        int64
windy           int64
play           object
dtype: object

In [64]:
df.head()

    outlook  temperature  humidity  windy play
0     sunny           85        85      0   no
1     sunny           80        90      1   no
2  overcast           83        86      0  yes
3     rainy           70        96      0  yes
4     rainy           68        80      0  yes

In [65]:
df.play.replace({"yes":1, "no":0},inplace=True)

In [66]:
from sklearn import preprocessing

In [67]:
cn = df["outlook"].to_frame()
ohe = preprocessing.OneHotEncoder()

In [69]:
res = ohe.fit_transform(cn).toarray()

In [70]:
res = pd.DataFrame(res)

In [71]:
df.drop("outlook",axis=1,inplace=True)
df_s = pd.concat([df,res],axis=1)

In [72]:
df_s

    temperature  humidity  windy  play    0    1    2
0            85        85      0     0  0.0  0.0  1.0
1            80        90      1     0  0.0  0.0  1.0
2            83        86      0     1  1.0  0.0  0.0
3            70        96      0     1  0.0  1.0  0.0
4            68        80      0     1  0.0  1.0  0.0
5            65        70      1     0  0.0  1.0  0.0
6            64        65      1     1  1.0  0.0  0.0
7            72        95      0     0  0.0  0.0  1.0
8            69        70      0     1  0.0  0.0  1.0
9            75        80      0     1  0.0  1.0  0.0
10           75        70      1     1  0.0  0.0  1.0
11           72        90      1     1  1.0  0.0  0.0
12           81        75      0     1  1.0  0.0  0.0
13           71        91      1     0  0.0  1.0  0.0

In [76]:
x = df_s.drop("play",axis=1)
y = df[["play"]]

In [77]:
x

    temperature  humidity  windy    0    1    2
0            85        85      0  0.0  0.0  1.0
1            80        90      1  0.0  0.0  1.0
2            83        86      0  1.0  0.0  0.0
3            70        96      0  0.0  1.0  0.0
4            68        80      0  0.0  1.0  0.0
5            65        70      1  0.0  1.0  0.0
6            64        65      1  1.0  0.0  0.0
7            72        95      0  0.0  0.0  1.0
8            69        70      0  0.0  0.0  1.0
9            75        80      0  0.0  1.0  0.0
10           75        70      1  0.0  0.0  1.0
11           72        90      1  1.0  0.0  0.0
12           81        75      0  1.0  0.0  0.0
13           71        91      1  0.0  1.0  0.0

In [78]:
y

    play
0      0
1      0
2      1
3      1
4      1
5      0
6      1
7      0
8      1
9      1
10     1
11     1
12     1
13     0

In [79]:
from sklearn.linear_model import LinearRegression

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [82]:
lr = LinearRegression()
lr.fit(x_train,y_train)
sonuc  = lr.predict(x_test)

In [83]:
sonuc

array([[1.36590871],
       [0.07803047],
       [0.8823093 ],
       [1.47428919],
       [1.02327232]])

In [84]:
y_test

    play
9      1
11     1
0      0
12     1
5      0

In [110]:
import statsmodels.api as sm

In [94]:
ones = np.ones((14,1))

In [97]:
df_s["b"] = ones

In [99]:
df_s.head()

   temperature  humidity  windy  play    0    1    2    b
0           85        85      0     0  0.0  0.0  1.0  1.0
1           80        90      1     0  0.0  0.0  1.0  1.0
2           83        86      0     1  1.0  0.0  0.0  1.0
3           70        96      0     1  0.0  1.0  0.0  1.0
4           68        80      0     1  0.0  1.0  0.0  1.0

In [104]:
x_list = df_s.iloc[:,:7].values

In [106]:
x_list = x_list.astype("float")

In [107]:
type(x_list)

numpy.ndarray

In [108]:
x_list.dtype

dtype('float64')

In [111]:
model = sm.OLS(y,x_list)
sonuc = model.fit()

In [113]:
sonuc.summary()

C:\Users\Umut\anaconda3\lib\site-packages\scipy\stats\stats.py:1535: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                   play   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 5.969e+26
Date:                Mon, 28 Sep 2020   Prob (F-statistic):           4.08e-93
Time:                        00:20:59   Log-Likelihood:                 420.93
No. Observations:                  14   AIC:                            -827.9
Df Residuals:                       7   BIC:                            -823.4
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1           2.03e-15   1.69e-15      1.201      0.269   -1.97e-15    6.02e-15
x2         -1.922e-15   9.61e-16     -2.000      0.086   -4.19e-15    3.51e-16
x3         -4.996e-16      2e-14     -0.025      0.981   -4.79e-14    4.69e-14
x4             1.0000   2.32e-14    4.3e+13      0.000       1.000       1.000
x5         -4.441e-16   1.46e-13     -0.003      0.998   -3.45e-13    3.44e-13
x6         -6.661e-16   1.34e-13     -0.005      0.996   -3.18e-13    3.16e-13
x7         -8.882e-16    1.4e-13     -0.006      0.995   -3.31e-13     3.3e-13
==============================================================================
Omnibus:                        1.530   Durbin-Watson:                   2.268
Prob(Omnibus):                  0.465   Jarque-Bera (JB):                1.021
Skew:                           0.377   Prob(JB):                        0.600
Kurtosis:                       1.913   Cond. No.                     3.33e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.33e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""